body {
	background-color: #f4f6f9;
}
.margin-right-0 {
    margin-right: 0px !important;
}
.margin-left-0 {
    margin-left: 0px !important;
}
.margin-top-0 {
    margin-top: 0px !important;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
}
.margin-right-10 {
	margin-right: 10px !important;
}
.margin-left-10 {
	margin-left: 10px !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-right-20 {
    margin-right: 20px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-right-30 {
    margin-right: 30px !important;
}
.margin-left-30 {
    margin-left: 30px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.width-50 {
    width: 50px;
}
.width-100 {
    width: 100px;
}
.width-150 {
    width: 150px;
}
.width-250 {
    width: 250px;
}

.sortable {

    tr:first-child .jq-arrow-up {
        display: none;
    }
    tr:last-child .jq-arrow-down {
        display: none;
    }
}

.custom-file-label:after {
	content: "Wybierz" !important;
}

.white-background {
	background-color: #fff;
}

.silver-border {
	border: 1px solid #dee2e6;

	+ .silver-border {
		border-top: 0;
	}
}

.radius-border-top {
	border-radius: 3px 3px 0 0;
}
.radius-border-bottom {
	border-radius: 0 0 3px 3px;
}
.radius-border, .radius-border tbody {
	border-radius: 3px;
}

.page-error {
	color: red;
	font-size: 12px;
}

.input-error {

	input, .input-group-text, .form-control {
		border-color: red !important;
	}
}

.alerts-top {

	ul {
		padding: 0;
		margin: 10px 0 0 15px;
		list-style-type: square;
	}
}

.login-page {

	.login-error {
		color: red;
		position: relative;
		top: -15px;
		font-size: 12px;
	}
}

.main-sidebar {

	.brand-link {
		text-align: center;

		span {
			position: relative;
			top: 1px;

			+ span {
				padding-right: 15px;
			}
		}

		.brand-image {
			float: none;
			margin-left: 0;
		}
	}

	.user-panel {
		text-align: center;
		margin-top: 3px !important;

		.info {
			padding-right: 30px;
			position: relative;
			top: 11px;
		}
	}
}

.sidebar-collapse {

	.main-sidebar {

		.brand-image {
			margin-left: .8rem;
		}
	}
}

.navbar {
	padding: .6rem .5rem;

	.logout-link {
		margin-right: 20px;

		i {
			margin-left: 5px;
		}
	}
}

.table-grid {
	background-color: #fff;
	border: 1px solid #dee2e6;

	td, th {
		vertical-align: middle;
	}

	.table-header {
		background-color: #f4f6f9;
	}
}

.content-header {

	.filters {
		margin-right: 20px;
		display: inline-block;

		.filters-label {
			position: relative;
			top: 3px;
			margin-right: 3px;
			display: inline-block;
		}

		.filters-item {
			display: inline-block;
			position: relative;
			top: 3px;
		}

		.filters-margin-right {
			margin-right: 10px;
		}
	}
}

.card-padding-bottom {
	padding-bottom: 1rem;
}

#modal-delete {

	.modal-footer {
		border-top: 0;
	}
}

.site-map-dits-0 {
	display: block;
	width: 15px;
	height: 15px;
	background-color: red;

	&:befre {
		content: " ";
		position: absolute;
		top: -5px;
		left: 0;
		width: 1px;
		height: 15px;
		border-left: 1px dotted #ccc;
	}
}
.site-map-dits-1 {
	display: inline-block;
	height: 0px;
	border-bottom: 1px solid red;
}

.content-header {

    h1 {
        margin-bottom: 10px !important;
    }
}

.product-update {

    input {
        width: 60px;
        display: inline-block;
        text-center: center;

        &.updated {
            color: green;
        }
    }

    a {
        position: relative;
        top: -1px;
        left: 1px;

        &:hover {
            color: #007bff;
        }
    }
}

.border-animate {
    border-color: green;
    -webkit-transition : border 1ms ease-out;
    -moz-transition : border 1ms ease-out;
    -o-transition : border 1ms ease-out;
}
.border-animate-error {
    border-color: red;
    -webkit-transition : border 2500ms ease-out;
    -moz-transition : border 2500ms ease-out;
    -o-transition : border 2500ms ease-out;
}

.board-games {

    > div {
        width: 100%;
    }

    .name {
        font-size: 16px;
        height: 80px;

        > div {
            text-align: center;
            width: 100%;
        }
    }
}

/*.site-map-dits {
	display: block;
	position: relative;
	width: 100%;
	height: 15px;
	left: 15px;

	&.site-map-dits-2{
		width: 50px !important;
		left: 15px;
	}
	&.site-map-dits-3{
		width: 80px !important;
		left: 25px;
	}
	&.site-map-dits-4{
		width: 60px !important;
		left: 55px;
	}
	&.site-map-dits-5{
		width: 40px !important;
		left: 75px;
	}
	&.site-map-dits-6{
		width: 20px !important;
		left: 95px;
	}
}
.site-map-dits:before {
	content: " ";
	position: absolute;
	top: -5px;
	left: 0;
	width: 1px;
	height: 15px;
	border-left: 1px dotted #ccc;
}
.site-map-dits:after {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted #ccc;
}
.site-map-dits.site-map-dits-0:before {
	height: 35px;
}
.site-map-dits.site-map-dits-0:after {
	display: none;
}
.site-map-dits.site-map-dits-2:after {
	width: 100px;
}
.site-map-dits.site-map-dits-3:after {
	width: 80px;
}
.site-map-dits.site-map-dits-4:after {
	width: 60px;
}
.site-map-dits.site-map-dits-5:after {
	width: 40px;
}
.site-map-dits.site-map-dits-5:after {
	width: 20px;
}*/
